* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.presentation {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: auto;
    color: #ebebeb;
}

.title-ast {
    background: hsla(252, 35%, 41%, 1);

    background: linear-gradient(90deg, hsla(252, 35%, 41%, 1) 19%, hsla(258, 57%, 60%, 1) 48%, hsla(270, 55%, 57%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(252, 35%, 41%, 1) 19%, hsla(258, 57%, 60%, 1) 48%, hsla(270, 55%, 57%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(252, 35%, 41%, 1) 19%, hsla(258, 57%, 60%, 1) 48%, hsla(270, 55%, 57%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#53448E", endColorstr="#825FD3", GradientType=1 );
    background-clip: text;
    color: transparent;
}
